*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    width: 100vw;
    background: url(Login-img/login-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
:root {
    --wall-color:#E3F4F4;
    --cnt-color: #E4F1FF;
}

.content-container{
    width: 80rem;
    height: 80%;
    display: flex;
    border: 2px solid #A4D0A4;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*Left-box*/
.left-box{
    display: flex;
    background-color: var(--cnt-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex-basis: 40rem;
    border-radius: 10px 0 0 10px;
}
.log-txt2 .top-txt{
    letter-spacing: 2px;
    
}
.log-txt2 .top-txt::before{
    content: '';
    margin-top: 10px;
    display: block;
    min-height: 35px;
    font-size: larger;
    animation: animate 16s infinite ease;
    text-transform: uppercase;
    
}

@keyframes animate{
    100%, 0%, 5%{
        font-size: large;
        opacity: 0;
    }
    10%, 18%{
        font-size: larger;
        content:'Nhiều món ngon ';
        opacity: 1;
    }
    23%,28%{
        font-size: large;
        opacity: 0;
    }
    38%, 42%{
        font-size: larger;
        content:'Giao hàng nhanh';
        opacity: 1;
    }
    45%,50%{
        font-size: large;
        opacity: 0;
    }
    55%, 64%{
        font-size: larger;
        content:'Giá tốt nhất';
        opacity: 1;
    }
    72%, 75%{
        font-size: large;
        opacity: 0;
    }
    85%,90%{
        font-size: larger;
        content:'Nhiều sự lựa chọn';
        opacity: 1;
    }
    95%, 98%{
        font-size: large;
        opacity: 0;
    }
}
.slider-container{
    overflow: hidden;
    border-radius: 10px;
    border: none;
    width: clamp(5vw, 100%, 600px);
    margin: 10px;
}
.slide{
    display: flex;
    flex-direction: row;
    animation: slide 16s infinite 0.8s ease;
}
.slide img {
    max-width: 100%;
    max-height: auto;
}

@keyframes slide{
    100%, 0%{
        transform: translateX(0%);
    }
    12%{
        transform: translateX(0%);
    }
    24%{
        transform: translateX(-100%);
    }
    36%{
        transform: translateX(-100%);
    }
    48%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-200%);
    }
    72%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-300%);
    }
}
.log-txt1 h2{
    font-weight: 500;
    
}
.log-txt1 :nth-child(3){
    color: gray;
    opacity: 0.75;
    line-height: 2rem;
    font-size: small;
}

/*right-box*/
.right-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cnt-color);
    width: 100%;
    gap: 2rem;
    flex-basis: 40rem;
    border-radius: 0 10px 10px 0;
}
.login-header{
    transform: translateX(-7.5%);
    position: relative;
}
.login-header::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5%;
    transform: translateX(50%);
    width: 50%;
    height: 2px;
    background-color: transparent;
}
.field-form{
    margin: 0 auto;
    width: 80%; 
    position: relative;
}

.field-form .form-input, .field-form .password-input  {
    padding: 20px;
    border: 2px solid #DDE6ED;
    border-radius: 10px;
    margin: 16px;
    width: clamp(170px ,85%, 500px);
    height: 15px;
    transition: 0.5s ease;
    outline: none;
    background-color: transparent;
    transition: all 0.6s ease ;
    font-size: 16px;
}


.form-input:focus, .password-input:focus {
    border: 2px solid #526D82;
}

.form-label{
    position: absolute;
    top: 10%;
    left: 7.5%;
    user-select: none;
    color: black;
    opacity: 0.75;
    pointer-events: none;
    transition: 0.5s ease;
    font-size: large;
}
.password-label{
    position: absolute;
    bottom: 56%;
    left: 4.5%;
    transform: translate(18%, 28%);
    user-select: none;
    color: black;
    opacity: 0.75;
    pointer-events: none;
    transition: 0.5s ease;
    font-size: large;
}
.form-input:not(:placeholder-shown) + .form-label, 
.form-input:focus + .form-label{
    top: -6.5px;
    left: 26px;
    background-color: var(--cnt-color);
    display: inline-block;
    padding: 10px;
    opacity: 1;
    font-size: smaller;
}
.password-input:not(:placeholder-shown) + .password-label, 
.password-input:focus + .password-label{
    bottom: 175px;
    left: 12px;
    background-color: var(--cnt-color);
    display: inline-block;
    padding: 0 10px;
    opacity: 1;
    font-size: smaller;
}
.fa-circle-user{
    position: absolute;
    transition: 0.5s ease;
    top: 14%;
    right: 14%;
}
.form-input:focus + .form-label + i.fa-circle-user{
    color: #36cd18;
}

.fa-key{
    transition: 0.5s ease;
    position: absolute;
    bottom: 57%;
    right: 14%;
}
.password-input:focus + .password-label + i.fa-key{
    color: #f1c30b;
}
/*CHECK-BOX*/
.checkbx-box{
    transform: translateX(7.5%);
    margin: 20px 0px 20px 0px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.checkbx-box a{
    color: black;
    font-style: italic;
}
.checkbox{
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    accent-color: lime;
    height: 1rem;
    width: 1rem;
}
.checkbox label{
    left: 1.5rem;
    top: auto;
}
.checkbox a{
    right: 0;
    top: auto;
    color: black;
    font-style: italic;
}
.login-btn{
    width: 80%;
    padding: 12px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    transition: all 0.2s linear;
    font-size: medium;
    opacity: 0.5;
    box-shadow: 3px 3px 12px black;
}
.login-btn:hover{
    border-color: #00DFA2;
    border-width: 2.5px;
    font-size: large;
    color: #40513B;
    opacity: 1;
}

.Ask{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.Ask p{
    cursor: default;
}
.Ask a{
    color: black;
    margin: 0 5px ;
    font-weight: 600;
    font-style: italic;
}

.Ask2{
    display: grid;
    font-size: smaller;
    font-weight: 500;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
}
.Ask2::before, .Ask2::after{
    content: '';
    background-color: gray;
    height: 1px;
    width: 100%;
    
}

/*SOCIAL-BTN*/
.social-btn .btn{
    display: inline-block;
    border: 1px solid black;
    margin: 0 5px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease-out;
    height: 40px;
    width: 40px;
}
.social-btn #fb-btn:hover{
    width: 130px;
}
.social-btn #insta-btn:hover{
    width: 135px;
}
.social-btn #gg-btn:hover{
    width: 115px;
}
.social-btn .btn:hover i{
    transform: rotate(15deg);
}
.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;  
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.social-btn .btn .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    line-height: 40px;
}
.social-btn .btn .icon i{
    line-height: 40px;
    transition: 0.7s;
}
.social-btn .btn span{
    line-height: 40px;
    margin: 0px -5px;
    font-weight: 600;
    font-size: 15px;
    opacity: 0;
    color: transparent;
    transition: all 0.5s ease;
}
.social-btn .btn:hover span{
    color: #526D82;
    font-size: 18px;
    opacity: 1;
}


@media screen and (max-width: 740px){
    .content-container{
        flex-direction: column;
        height: 60rem;
        gap: 5px;
    }
    .left-box{
        flex-basis: 35rem;
        border-radius: 10px;
        padding: 5px;
    }
    .right-box{
        border-radius: 10px;
    }
    /* .checkbx-box{} */
    .log-txt2 .top-txt::before{
        content: '';
        min-height: 25px;
        font-size: smaller;
    }
    .log-txt1 h2, p{
        font-size: smaller;
    }
    @keyframes animate{
        100%, 0%, 5%{
            font-size: small;
            opacity: 0;
        }
        10%, 18%{
            font-size: smaller;
            content:'Nhiều món ngon ';
            opacity: 1;
        }
        23%,28%{
            font-size: small;
            opacity: 0;
        }
        38%, 42%{
            font-size: smaller;
            content:'Giao hàng nhanh ';
            opacity: 1;
        }
        45%,50%{
            font-size: small;
            opacity: 0;
        }
        55%, 64%{
            font-size: smaller;
            content:'Giá tốt nhất';
            opacity: 1;
        }
        72%, 75%{
            font-size: small;
            opacity: 0;
        }
        85%,90%{
            font-size: smaller;
            content:'Nhiều sự lựa chọn';
            opacity: 1;
        }
        95%, 98%{
            font-size: small;
            opacity: 0;
        }
    }

}
@media screen and (max-width: 330px){
    h1{
        font-weight: 400;
        font-size: x-large;
    }
    .field-form{
        width: fit-content;
    }
    .field-form .form-input{
        padding: 15px;
    }
    .field-form .password-input  {
        margin-top: 28px ;
        padding: 15px;
    }
    .fa-circle-user{
        top:-1%;
        left: 7rem; 
    }
    .fa-key{
        bottom:73%;
        left: 7rem; 
    }
    .checkbx-box, .Ask{
        flex-direction: column;
        justify-content: space-between;
        gap: 10px
    }
    .Ask a, .checkbx-box a, .checkbox label{
        font-size: smaller;
    }
    .social-btn{
        display: flex;
        flex-direction: column;
    }
    .social-btn .btn{
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        pointer-events: none;
        width: 135px;
    }
    .social-btn .btn span{
        color: #526D82;
        opacity: 1;
    }

}

@media screen and (min-width:741px) and (max-width:1024px){
    .log-txt2 .top-txt::before{
        content: '';
        min-height: 25px;
        font-size: large;
    }
    @keyframes animate{
        100%, 0%, 5%{
            font-size: medium;
            opacity: 0;
        }
        10%, 18%{
            font-size: large;
            content:'Nhiều món ngon ';
            opacity: 1;
        }
        23%,28%{
            font-size: medium;
            opacity: 0;
        }
        38%, 42%{
            font-size: large;
            content:'Giao hàng nhanh ';
            opacity: 1;
        }
        45%,50%{
            font-size: medium;
            opacity: 0;
        }
        55%, 64%{
            font-size: large;
            content:'Giá tốt nhất';
            opacity: 1;
        }
        72%, 75%{
            font-size: medium;
            opacity: 0;
        }
        85%,90%{
            font-size: large;
            content:'Nhiều sự lựa chọn';
            opacity: 1;
        }
        95%, 98%{
            font-size: medium;
            opacity: 0;
        }
    }
}


